PORT=8080

ADMIN_EMAIL=admin@example.com

# PRISMA (PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public

# MONGO (Loglar veya dinamik veriler için)
MONGODB_URI=mongodb://localhost:27017/nest_logs

# BETTERSTACK LOG SERVICE (Production için kritik)
BETTERSTACK_TOKEN=your_source_token_here

# REDIS (Caching ve Queue yönetimi)
REDIS_URL=redis://

# CLIENT_ORIGINS (CORS ayarları için virgülle ayrılmış liste)
ALLOWED_ORIGINS=http://localhost:3000,https://myapp.com

#TOKEN CRYPT
TOKEN_CIPHER_KEY=<32_byte_hex>

#MAIL
EMAIL_SMTP_HOST=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_TLS_PORT=

#IYZICO
IYZICO_API_KEY=
IYZICO_SECRET_KEY=
IYZICO_BASE_URL=

#QUEUE MONITOR
QUEUE_MONITOR_ADMIN_PASSWORD=

#META
# https://developers.facebook.com/
META_APP_ID=
META_APP_SECRET=

META_OAUTH_REDIRECT_URI=http://localhost:8080/api/v1/meta-ads/oauth/callback

# Meta Developer Console → Webhooks → Verify Token alanına girilecek
META_WEBHOOK_VERIFY_TOKEN=<32_byte_hex>